@CHARSET "UTF-8";

/*관리자 로그인 창 ui */
#adminLogin_wrap{
	width:300px;
	height:200px; border:1px solid blue;
	border-radius:20px; box-shadow:15px 15px 15px red;
	margin-top:100px; margin-left:auto; margin-right:auto;
}
#adminLogin_wrap .adminLogin_title{
	margin:20px 0 0 80px;
	font-size:20px; width:140px; padding:3px; 
	border-radius:15px; text-align:center;
	background:skyblue;
}
#adminLogin_t{
	margin:20px 0 0 20px;
}
#adminLogin_t th{
	background:skyblue; border-radius:15px;
}
.input_box{
	border:1px solid skyblue; border-radius:15px; padding:2px;
}
.input_box:hover{
	background:#ccc;
}
#adminLogin_menu{
	margin:20px 0 0 90px;
}
.input_button:hover{
	cursor:pointer; cursor:hand;
    background:pink; border:1px solid red;
    padding:2px; border-radius:15px; font-weight:bold;	
}

/*관리자 메인 ui*/
#adminmain_wrap{
	width:1024px; height:860px;
	border:1px solid blue;
	border-radius:15px;
	margin-top:20px; margin-left:auto; margin-right:auto;
}

#adminmain_header{
	width:1004px; height:180px; 
	margin:10px 0 0 10px; border:1px solid red;
	border-radius:15px;
}

#adminheader_left{
	float:left; /*div영역안의 복수개 div 영역을 수직정렬에서 수평정렬로 */
	width:600px; height:160px;
	margin:10px 0 0 10px; border:1px solid skyblue;
	border-radius:15px;
}

#adminheader_right{
	float:left; width:370px; height:160px;
	margin:10px 0 0 10px; border:1px solid skyblue; border-radius:15px;
}

.clear{clear:both;}

#adminmain_cont{
	width:1004px; height:560px; margin:10px 0 0 10px;
	border:1px solid red; border-radius:15px;	
}

#adminmain_footer{
   width:1004px; height:74px; margin:10px 0 0 10px;
   border:1px solid red; border-radius:15px;	
}

#adminheader_left ul li{
	list-style:none; /*목록앞 점없애기*/
	float:left; /*목록 수직정렬을 수평정렬 */
	margin:70px 0 0 0 ; padding:0 60px 0 23px;
}

a:link{text-decoration:none;}
a:hover{text-decoration:underline;}
a:active{text-decoration:none;}
a:visited{text-decoration:none;}

#adminheader_left .adminheader_title{
	margin:20px 0 0 170px; background:skyblue; border-radius:10px;
	width:240px; padding:3px; font-size:20px; text-align:center;
}

#adminheader_right ul li{
	list-style:none; float:left;
	padding:10px 0 0 8px;
}

#adminmain_footer .adminmain_footer_title{
	font-size:14px; margin:30px 0 0 110px;
}

#adminmain_cont .adminmaincont_title{
	margin:250px 0 0 450px; font-size:18px;
}

#admin_home{
	margin:25px 0 0 33px; float:left;
}

/*관리자 공지사항 글쓰기 폼(admin_gongji_write.jsp) ui */
#adminmain_cont .gongjiwrite_title{
	margin:100px 0 0 400px;
	background:skyblue; width:190px; font-size:20px;
	padding:3px; border-radius:15px; text-align:center;
}

#gongjiwrite_t{margin:20px 0 0 330px;}

#gongjiwrite_t th{background:skyblue; border-radius:10px;}

#gongjiwrite_menu{margin:20px 0 0 430px;}

/*관리자 공지목록(adminGongji_List.jsp) ui*/
#adminmain_cont .gongjiList_title{
	margin:30px 0 0  400px; background:skyblue;
	width:180px; font-size:20px; padding:3px; border-radius:15px;
	text-align:center;
}

#adminmain_cont .gongjiListcount{
	margin:20px 0 0 600px;
}

#gongjilist_t{
	margin:20px 0 0 280px;
}

#gongjiList_paging{margin:15px 0 0 370px;}

#gongjiwrite_input{margin:10px 0 0 600px;}

/* 관리자 공지 내용 ui */
#adminmain_cont .gongjicont_title{
	margin:100px 0 0 400px; width:160px;
	background:skyblue; border-radius:20px;
	font-size:20px; text-align:center;padding:3px;	
}
#gongjicont_t{
	margin:25px 0 0 380px;
}
#gongjicont_t th{background:skyblue;border-radius:15px;}
#gongjicont_menu{
	margin:20px 0 0 400px;
}

/*관리자 공지 삭제 ui*/
#gongjidel_t{
	margin:20px 0 0 380px;
}
#gongjidel_t th{
	background-color:skyblue; border-radius:15px;
}


























