@CHARSET "UTF-8";

#main_wrap{
	width:400px; height:300px;
	border:1px solid red; border-radius:20px;
	margin-top:100px; margin-left:auto; margin-right:auto;
	box-shadow:15px 15px 15px blue;
}
#main_wrap .main_title{
	margin:20px 0 0 120px; width:170px; background:skyblue;
	font-size:20px; border-radius:20px; padding:3px; text-align:center;
}
#main_t{
	margin:20px 0 0 30px;
}
#main_t th{background:skyblue; border-radius:15px;}